<%- include("partials/header") %>

<main>
  <section id="home">
    <div class="intro">
      <div class="intro-content">
        <div class="intro-heading-container">
          <ul>
            <% catchPhrases.forEach((phrase) => { %>

            <li><h1 class="intro-heading"><%= phrase %></h1></li>

            <% }) %>
          </ul>
        </div>
        <a class="contact-us-btn btn" href="#contact">Bize ulaşın</a>
      </div>
      <div class="intro-image">
        <img width="500" src="assets/intro-grid.webp" alt="Mobilya resimleri" />
      </div>
    </div>
  </section>
  <section id="about-us">
    <div class="carpenter-container">
      <div class="circle">
        <img
          class="carpenter-man"
          src="assets/carpenter.png"
          alt="Marangoz ikonu"
        />
      </div>
    </div>
    <div class="about-us-text-container">
      <div class="about-us-heading">
        <h2>Hakkımızda</h2>
      </div>
      <div class="about-us-text">
        <p><%= aboutUs %></p>
      </div>
    </div>
  </section>
  <section id="our-products">
    <div class="our-products-heading">
      <h2>Popüler Ürünlerimiz</h2>
    </div>

    <div class="cards">
      <% fetchedCards.forEach((card) => { %>

      <div class="card">
        <img loading="lazy" src="<%= card.cardImage %>" />
        <div class="card-shadow"></div>
        <div class="card-text">
          <h3><%= card.cardHeading %></h3>
          <div class="card-info">
            <p><%= card.cardInfo %></p>
          </div>
        </div>
      </div>

      <% }) %>
    </div>
  </section>
  <section id="contact">
    <div class="contact-heading"><h2>İletişim</h2></div>

    <div class="options">
      <div class="option-1">
        <div class="heading">
          <img src="assets/contact.png" />
          <h3>Arayın veya mesaj atın</h3>
        </div>
        <div class="option-whatsapp">
          <img src="assets/whatsapp-logo.png" alt="Whatsapp logosu" />
          <p>
            <!-- this regex deletes all white spaces -->
            <a
              href="https://wa.me/+9<%=contacts.whatsappNumber.replace(/ /g,'')%>"
              ><%= contacts.whatsappNumber %></a
            >
          </p>
        </div>
        <div class="option-phone">
          <img src="assets/phone-call.png" alt="Telefon ikonu" />
          <p>
            <a href="tel:+9<%=contacts.phoneNumber.replace(/ /g,'')%>"
              ><%= contacts.phoneNumber %></a
            >
          </p>
        </div>
        <div class="option-email">
          <img src="assets/email.png" alt="Email ikonu" />
          <p>
            <a
              href="mailto:<%= contacts.email %>?subject=Hizmet almak istiyorum"
              ><%= contacts.email %></a
            >
          </p>
        </div>
      </div>
      <div class="option-2">
        <div class="heading">
          <img src="assets/support.png" />
          <h3>İhtiyacınızı yazın, hemen dönelim</h3>
        </div>
        <form action="/" method="POST">
          <div class="input-container">
            <div class="your-name">
              <div class="input-text">
                <label for="yourName">Adınız</label>
              </div>
              <input
                type="text"
                name="yourName"
                id="Your Name"
                required
                oninvalid="this.setCustomValidity('Lütfen adınızı giriniz.')"
                oninput="this.setCustomValidity('')"
              />
            </div>
            <div class="phone-number">
              <div class="input-text">
                <label for="phoneNumber">Telefon Numaranız</label>
              </div>

              <input
                type="tel"
                placeholder="5** *** ** **"
                name="phoneNumber"
                id="Phone Number"
                required
                oninvalid="this.setCustomValidity('Lütfen telefon numaranızı giriniz.')"
                oninput="this.setCustomValidity('')"
              />
            </div>
            <div class="your-need">
              <div class="input-text">
                <label for="yourNeed">İhtiyacınız</label>
              </div>
              <textarea
                name="yourNeed"
                id="Your Need"
                required
                oninvalid="this.setCustomValidity('Lütfen ihtiyacınızı yazınız.')"
                oninput="this.setCustomValidity('')"
              ></textarea>
            </div>
            <button
              type="submit"
              class="send-btn btn"
              onclick="validateInput()"
            >
              Gönder
            </button>
          </div>
        </form>
      </div>
      <div class="option-3">
        <div class="heading">
          <img src="assets/gps.png" />
          <h3>Hizmet Verdiğimiz İlçeler</h3>
        </div>
        <ul>
          <% locations.forEach((location) => { %>

          <li><%= location %></li>

          <% }) %>
        </ul>
        <h4>İlçeniz listede yok mu?</h4>
        <div class="option-3-popup">
          <p>
            Bu liste hizmet verdiğimiz bütün ilçeleri içermiyor. İhtiyacınız
            için bize ulaşabilirsiniz.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include("partials/footer") %>
